body {
	background-color: #F0F0EE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 8px;
    color: #505050;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

input {
	background: #FFFFFF;
	border: 1px solid #cccccc;
}

td, input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

input, select, textarea {
	border: 1px solid #808080;
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
}

input.radio {
	border: 1px none #000000;
	background-color: transparent;
	vertical-align: middle;
}

input.checkbox {
	border: 1px none #000000;
	background-color: transparent;
	vertical-align: middle;
}

fieldset {
	border: 1px solid #919B9C;
	font-family: Verdana, Arial;
	font-size: 10px;
	padding: 4px;
	margin: 10px 0;
	padding: 4px;
	clear: left
}

fieldset input {
    margin: 0 10px 0 0;
}

legend {
	color: #2B6FB6;
	font-weight: bold;
}

a:link, a:visited {
	color: #2B6FB6;
    text-decoration: none;
}

a:hover {
	color: #ee0000;
}

h1, h2, h3, h4 {
	color: #2B6FB6;
	margin: 10px 10px 10px 0;
	padding: 0px;
	padding-top: 5px;
}

h3 {
	font-size: 14px;
}

h1 {
    color: #2B6FB6;
    text-align: right;
}

    h1 span.media-text {
        color: orange;
    }

ol, ul {
    list-style: none;
    padding: 0;
}

p {
    margin: 0;
}

p.instruction {
    color: #2B6FB6;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
}

.messages-section, .category-section, .images-section, 
.style-section, .confirmation-section {
    padding: 10px;
    background: #eaeaea;
    border-bottom: 1px dotted #a0a0a0;
    margin-bottom: 10px;
}

.image-selector {
    padding: 0;
}

    .image-selector li.selected img {
        background: orange;
    }

    .image-selector li {
        float: left;
        width: 150px;
        height: 150px;
        margin: 5px;
        text-align: center;
        overflow: hidden;
    }

    .image-selector li img {
        cursor: pointer;
        padding: 4px;
        border: 1px solid #2B6FB6;
    }


.image-nav {
    width: 80%;
    margin: 20px auto;
    font-size: 14px;
    font-weight: bold;
}

    .image-nav .previous, .image-nav .next {
        float: left;
        display: block;
        width: 50%;
        text-align: center;
    }


.confirmation-section {
    margin-bottom: 20px;
}

    .confirm-button {
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }


.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 11px;
}

.category-selection {
    font-size: 12px;
}

.current-category {
    margin: 15px 10px;
}

    .current-category ol {
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
    }

    .current-category ol li {
        float: left;
        padding-right: 5px;
        margin-right: 5px;
        border-right: 1px solid #a0a0a0;
    }

    .current-category ol li.current {
        font-style: normal;
        padding-right: 5px;
        margin-right: 5px;
        border: 0;
    }


.page-selection {
    clear: both;
}
    .page-selection ol {
        font-size: 16px;
    }

    .page-selection ol li {
        float: left;
        padding-right: 5px;
        margin-right: 5px;
        border-right: 1px solid #a0a0a0;
    }


.messages-section {

}

    .messages-section li.error {
        color: #ee0000;
        font-weight: bold;
    }

    .messages-section li span.highlight {
        color: #2B6FB6;
    }

p.arrow {
    float: left;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    margin-right: 5px;
}
